 @model List<Sotrudnik>
<div class="row">


	<div class="col-9">
		<div class="row">
			<h3 class="text-center">Список Сотрудники</h3>
		</div>
		<a asp-area=""
		   asp-controller="Sotrudnik"
		   asp-action="Create">Добавить новый Сотрудники</a>
		<div class="row">
			<table class="table">
				<thead>
					<tr>
						<th>№</th>
						<th>Фамиля</th>
						<th>Имя</th>
						<th>Отчество </th>
						<th>Дата рождение </th>
						<th>Серия паспорт</th>
						<th>Номер паспорт</th>
						
						<th></th>
						<th></th>
						
					</tr>
				</thead>
				<tbody>
					@for (int i = 0; i < Model?.Count; i++)
					{
						<tr>
							<td>@(i + 1)</td>
							<td>@Model[i].LastName</td>
							<td>@Model[i].FirstName</td>
							<td>@Model[i].MiddleName</td>
							<td>@Model[i].DateOfBirth</td>
							<td>@Model[i].PassportSeries</td>
							<td>@Model[i].PassportNumber</td>
							
							<td>
								<a asp-area=""
								   asp-controller="Sotrudnik"
								   asp-action="Edit"
								   asp-route-productId="@Model[i].Id">Редактировать</a>
							</td>
							<td>
								<a asp-area=""
								   asp-controller="Sotrudnik"
								   asp-action="Remove"
								   asp-route-productId="@Model[i].Id">Удалить</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<br />
		<div><a asp-controller="Home" asp-action="Index">Главная страница</a></div>
	</div>
</div> 